<h1>Listing Postal Addresses</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Mail place</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postals.each do |postal| %>
  <tr>
    <td><%= postal.address_id %></td>
    <td><%= postal.mail_place %></td>
    <td><%= link_to 'Show', postal %></td>
    <td><%= link_to 'Edit', edit_postal_path(postal) %></td>
    <td><%= link_to 'Destroy', postal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Postal Address', new_postal_path %>
