<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @mail.address_id %>
</p>

<p>
  <b>Mail place:</b>
  <%= @mail.mail_place %>
</p>


<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>
