<title><%= @address.name %> <%= @address.last_name %></title>
<p id="notice"><%= notice %></p>
<body>
<div id="head">
<h1>
  <%= @address.name %>
  <%= @address.last_name %>
  <br/>
  <div>
  	</div>
</h1>
</div>

<p style="color: black">
<br/>
  <b>Address:</b>
  <%= @address.address %>
  
  <b>Email:</b>
  <%= @address.emailadd %>
	<%= render :partial => 'mails/form', :locals => { :emailadd => @mail } %>

  <b>Number:</b>
  <%= @address.number %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %> <br/>
	<%= link_to('Logout', destroy_user_session_path, {:method => :delete}, :class => "LogoutLinks") %> |
	<%= link_to 'Help', tips_help_path %> <br/>


</body>
